  <mat-grid-list cols="1" rowHeight="50px" *ngIf="isAuthenticateUser">
   <!-- <mat-grid-tile>
      <button mat-stroked-button color="primary" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">
        <mat-icon >home</mat-icon>
        <span class="menu-right">Dashboard</span>
      </button>
    </mat-grid-tile> -->
    <mat-grid-tile>
      <button mat-stroked-button color="primary" routerLink="/stock/search" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}" >
        <mat-icon>search</mat-icon>
        <span class="menu-right">Search Stock</span>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-stroked-button color="primary" routerLink="/logout" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}" (click)="signOut($event)" >
        <mat-icon>logout</mat-icon>
        <span class="menu-right">Log Out</span>
      </button>
    </mat-grid-tile>
  </mat-grid-list>


